<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>請求書::Hieronymus</title>
    <meta http-equiv="Content-Language" content="ja" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap-icons/font/bootstrap-icons.css">
    <style>
body {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
  .invoice {
    width: 210mm;
    height: 297mm;
    max-width: 100%;
    margin: 0mm auto;
    padding: 2mm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10mm;
  }
  .recipient-info {
    margin-top: 50px;
    margin-left: 100px;
    width: 300px;
    font-size: 16px;
  }
  .recipient-info p {
    margin: 0;
  }
  .title-info {
    margin-top: 5px;
    margin-right:30px;
    width: 320px;
  }
  .title-info h1 {
    margin: 0;
    font-size: 24px;
    width: 120px;
    height: 34px;
    padding: 0 40px;
    text-align: justify;
    vertical-align: middle;
    font-weight: bold;
    border: 1px solid #000;
    background-color: #CCC
  }
  .title-info h1::after {
    content: ""; /* 空の疑似要素 */
    display: inline-block;
    width: 100%; /* 行末にスペースを作る */
  }
  .title-info p {
    margin: 4px 0;
    font-size: 14px;
  }
  .company-info {
    line-height: 16px;
    font-size: 14px;
    margin-top: 10px;
  }
  .company-info p.name {
    font-weight: bold;
    font-size: 18px;
  }
  .company-info p.zip {
  }
  .company-info p.address {
  }
  .company-info p.tel {
    margin-top: 10px;
  }
  .company-info p.homepage {
  }
  .compay-info p.handler {
    margin-top: 10px;
  }
@media print{
}
    </style>
  </head>
  <body class="layout-fixed" id="body">
    <div class="invoice">
      <!-- ヘッダー（鑑部分） -->
      <header class="invoice-header">
        <div class="recipient-info">
          <p>〒<%= invoice.zip %></p>
          <p><%= invoice.address1 %></p>
          <p><%= invoice.address2 %></p>
          <p><%= invoice.customerName %> 御中</p>
        </div>
        <div class="title-info">
          <div style="display:flex;">
            <h1>請 求 書</h1>
            <div style="margin-left:20px;margin-top:10px;font-size:14px;">
              <span>No. <%= invoice.no %></span>
            </div>
          </div>
          <p> <% let date = new Date(invoice.billingDate) %>
            発行日:&nbsp;
            <%= date.getFullYear()%>年
            <%= date.getMonth() + 1%>月
            <%= date.getDate()%>日
          </p>
          <div class="company-info">
            <p class="name"><%= company.name %></p>
            <p class="zip">〒<%= company.zip%></p>
            <% for ( let address of company.address ) { %>
              <p class="address"><%= address%></p>
            <% } %>
            <p class="tel"%>
            <% if ( company.tel ) { %>
              <span>TEL <%= company.tel%></span>
            <% } %>
            <% if ( company.fax ) { %>
              <span>FAX <%= company.fax%></span>
            <% } %>
            </p>
            <% if ( company.homepage ) { %>
              <p class="homepage"><%= company.homepage %></p>
            <% } %>
            <p class="handler"><%= invoice.handleUser %></p>
          </div>
        </div>
      </header>
      </div>
    <%- JSON.stringify(invoice, ' ', 2).replaceAll(/\n/g, '<br/>').replaceAll(/\s/g, '&nbsp;') %>
  </body>
</html>
